.css-1y4p8pa { 
    padding: 0.5rem 1rem 0.5rem !important;
}
li{margin-bottom: 20px !important;} 
.css-lrlib {
    
    font-size: larger !important;
}
.css-81oif8 {
    font-size: 1px;
    color: rgb(49, 51, 63);
    display: flex;
    visibility: visible;
    margin-bottom: 0.5rem;
    height: auto;
    min-height: 0rem !important;
    vertical-align: middle;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}